body {
    font-family:Georgia, 'Times New Roman', Times, serif
    margin: 0px;
}


body > header {
    background-color: red;
    color: white;
    display: flex;
    height: 12%vh;
    align-items: center;
    justify-content:space-around ;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 6px;
    position: relative;
    left: -420px;
}

body > footer {
    background-color: yellow;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
} 

.navbutton {
    color: white;
    text-decoration:none ;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main  article {
    width: 70%;
    margin: auto;
}

#main-content aside {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: darkred;
    display: flex;
}

cite {
    display: inline-block;
    width: 100px;
    height: 50px;
}

#footer-ul {
    display: flex;
    list-style: none;
    position: relative;
    left: -600px;
    
    
  

}

#footer-ul > div > li {
    margin-left: 12px;
    margin-top: 10px;
   

}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 15%;
    position: relative;
    left: -300px;
}

#login {
    position: relative;
    top: -2160px;
    right: -400px;
}


#email {
    position: relative;
    left: 12px;
}


.product-grid   {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    position: relative;
    left: 50px;
    margin: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 350px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-img {
    max-width: 200%;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


.product.hover {
    transform: scale (1.05;)
}

.product p {
    font-size: 16px;
    color: #333;
    margin: 10px 0 0 0;
}

.product-grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    margin-top: 100px;
} 

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
}

.produc .description {
    padding: 8px;
    text-align: center;
    font-family: monospace;
}

.section-break {
    background-color: red;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    margin-top: 930px;
    margin-bottom: 200px;

}

section {
    padding: 20px;
    margin-top: 60px;
}

#footer-login {
    display: block;
    list-style: none;
    position: absolute;
    left: 500px;
    
    
  

}
